[build]
  command = "npm run build"
  publish = "dist"

[context.production.environment]
  NODE_ENV = "production"

# Ensure Netlify sees the /thank-you static page and redirects
[[redirects]]
  from = "/thank-you"
  to = "/thank-you/"
  status = 200

# SPA fallback for React Router
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
